---

---

<!DOCTYPE html>
<html>

  {% include headtag.html %}

  <body>

    <!-- NAVBAR -->
    <center><ul class="navbar">
      <li class="navelement">TEST</li>
      <li class="navelement">TEST</li>
      <li class="navelement">TEST</li>
    </ul></center>

    <!-- HEADER -->
    {% include header.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <p>Just a holder.</p>
      </section>
    </div>

    <!-- FOOTER  -->
    {% include footer.html %}

    

  </body>
</html>
