<div id="header_wrap" class="container-fluid">
    <header class="inner">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-this">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">1064CBread</a>
                </div>
                <div class="collapse navbar-collapse" id="collapse-this">
                    <ul id="inter-site-travels" class="nav navbar-nav">
                        <li><p class="navbar-text">There's a comment if you look closely<!-- here's the spot to put new links and stuff --></p></li>
                    </ul>
                    <ul id="github-links" class="nav navbar-nav navbar-right">
                        <li><a href="https://github.com/1064CBread">1064CBread on GitHub<img class="navbar-image" src="images/blacktocat.png"></a></li>
                        <li><a href="https://github.com/1064CBread/1064CBread.github.io">Web Source on GitHub<img class="navbar-image" src="images/blacktocat.png"></a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="title" class="page-header">
            <h1><a href="/">1064cbread.github.io</a><br>
            <small>The 1064CBread website!</small></h1>
        </div>
    </header>
</div>
